#ubicacion{
   
   margin-left: 60%;
   height: auto;
   min-height: 60px;

  }

  #Home{
    background-image: url(..\imagenes\estreno.png);
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 100px;
  }

  #cuadrito{
    text-align: center;
    background-color: white;
    font-size: 36px;
    color: red;
    font-size: 36px;
  }

/*paginaTatuajes = a la seccion productos*/

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto  ;
  grid-gap: 50px;  
  padding: 100px;
}

.grid-container > div {

  background-color: skyblue;
  border: 1px solid black;   
  text-align: center;
  font-size: 70px;
}

#pagInscripcion {

  background-image: url("imgTatuadores/fondo.png");
}



